

.caja-refugio {
    background-color: #ffffff;
    /* Marrón */
    text-align: center;
    padding: 20px;
    width: 480px;
    height: 460px;
    z-index: 50000;
    border-radius: 30px;
    left: 5%;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 13px;
    
}

.nombre-refugio {
    font-size: 24px;
    color: white;
    background-color: #584B42;
    position: relative;
    top: -20px;
    padding: 8px;
    left: -65px;
    width: 600px;
    
}

.imagen-refugio {
    width: 250px;
    height: 200px;
    margin: none;
    border-radius: 30px;
    top: -10px;
     /* Mantienes tu efecto de borde borroso */
    border: 0;
    position: relative;
}
.imagen-refugio:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
    transition: .1s;
}

.informacion-refugio {
    position: relative;
}



.boton-solicitar {
    background-color: #FC631D;
    /* Verde */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-decoration: black;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 15px;
    outline: none;
    position: relative;
    top: -10px;
}

.boton-solicitar:hover {
    text-decoration: none;
    color: #000000;
    outline: none;
}

.contenedor-adoptar{
   position: relative; 
   width: 125%;
}


.grupo-cajas-refugio1 {
    right: -90px;
    top: -90px;
    position: relative;
    display: flex;
    z-index:100;

}

.grupo-cajas-refugio2 {
    left: 95px;
    top: -90px;
    position: relative;
    display: flex;
    z-index: 90;
}
.title-adoptar{
    position: absolute;
    z-index: 103;
    left: 50%;
    color: #000000;
    top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

@media (max-width: 1700px ) {
    /* Estilos adicionales para pantallas de hasta 1680px de ancho */
    .grupo-cajas-refugio1 {
        position: relative;
        left: -30px;
        top: -45px;
        transition: 1s;
    }
    .grupo-cajas-refugio2 {
        position: relative;
        left: -30px;
        top: -100px;
        transition: 1s;
    }

    .caja-refugio {
        transform: scale(0.9);
    
    }
   .title-adoptar{
    position: absolute;
    transition: 1s;
    z-index: 80000;
    left: 50%;
    color: #000000;
    top: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
}


